:root {
	--first: hsl(212, 15%, 22%);
	--first-light: #303841;
	--second: #afe4f4;
	--second-light: #cceef8;
	--third: #920203;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Poppins", sans-serif;
	background: linear-gradient(137deg, #1c0f63, #940202);
}

.App {
	width: 100vw;
	overflow-x: hidden;
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
